# /configs/private.testnet.config

max-log-file-size=0
log-level=0

testnet=1

rpc-bind-ip=0.0.0.0
rpc-bind-port=18081
confirm-external-bind=1

# add-exclusive-node=127.0.0.1:9001 Add for later node

db-sync-mode=safe

fixed-difficulty=10

limit-rate-up=1048576     # 1048576 kB/s -> 1GB/s 
limit-rate-down=1048576   # 1048576 kB/s -> 1GB/s 
