#/configs/production.config

max-log-file-size=0
log-level=1

detach=1
non-interactive=1

rpc-bind-ip=0.0.0.0
rpc-bind-port=18081
confirm-external-bind=1

p2p-bind-ip=0.0.0.0
p2p-bind-port=18080
p2p-external-port=18080
allow-local-ip=1
db-sync-mode=safe

no-igd=1                    # Disable UPnP port mapping

db-sync-mode=safe

limit-rate-up=1048576     # 1048576 kB/s -> 1GB/s 
limit-rate-down=1048576   # 1048576 kB/s -> 1GB/s 

data-dir=/xmr/data