#/configs/production.config

max-log-file-size=0
log-level=2

detach=1
non-interactive=1

rpc-bind-ip=0.0.0.0
rpc-bind-port=80
rpc-login=username:password
confirm-external-bind=1
rpc-access-control-origins=*

no-igd=1                    # Disable UPnP port mapping

db-sync-mode=safe

limit-rate-up=1048576     # 1048576 kB/s -> 1GB/s 
limit-rate-down=1048576   # 1048576 kB/s -> 1GB/s 